{% comment %}
  Renders rebuy templates

  Usage:
  {% render 'rebuy-templates' %}
{% endcomment %}
<script id="rebuy-dynamic-bundle-template" type="text/template">
<div class="rebuy-widget"
    v-cloak
    v-on:click="stopPropagation($event)"
    v-bind:id="'rebuy-widget-' + id"
    v-bind:class="['widget-type-' + config.type.replace('_','-'), products.length > 0 ? 'is-visible' : 'is-hidden', 'widget-layout-' + currentLayout()]">

    <div
        class="rebuy-widget-container"
        v-bind:class="['widget-display-' + config.display_type, visible ? 'is-visible' : 'is-hidden' ]">
        <div class="rebuy-widget-content">
            <div class="rebuy-timer" v-if="hasTimer()">
                <h5 class="rebuy-timer-title" v-if="config.language.timer_title">
                    <span v-html="config.language.timer_title"></span> <span class="rebuy-timer-minutes" v-html="config.timer.duration_minutes"></span>:<span class="rebuy-timer-seconds" v-html="config.timer.duration_seconds"></span>
                </h5>
            </div>

            <h4 class="super-title" v-if="config.language.super_title != ''" v-html="config.language.super_title"></h4>

            <h3 class="primary-title" v-if="config.language.title != ''" v-html="config.language.title"></h3>

            <div class="description" v-if="config.language.description != ''" v-html="config.language.description"></div>

            <div class="rebuy-bundle">

                <div class="rebuy-bundle__images">

                    <div class="rebuy-bundle__image" v-for="(product, index) in products" v-if="product.selected" v-bind:class="[product.handle, 'product-id-' + product.id, cartHasProduct(product) ? 'cart-has-item' : '', productTagClasses(product), variantAvailable(product.selected_variant) ? '' : 'rebuy-bundle__image--out-of-stock']">
                        <a
                            class="rebuy-bundle__image-item"
                            v-bind:class="[hasLearnMore() && !isInputProduct(product) ? 'clickable' : '' ]"
                            v-bind:href="learnMoreURL(product)"
                            v-bind:style="imageStyles"
                            v-on:click="learnMore(product, $event);"
                            rel="nofollow"
                        >
                            <img v-bind:src="itemImage(product, product.selected_variant, '400x400')" v-bind:alt="product.title">
                        </a>
                        <div class="rebuy-bundle__image-divider">
                            <i class="far fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>

                <div class="rebuy-bundle__actions" v-if="subtotal() > 0">
                    <div class="rebuy-bundle__actions-price">
                        <strong class="rebuy-bundle__actions-price-label" v-html="config.language.total_price_label"></strong>
                        <p class="rebuy-bundle__actions-price-value" v-if="bundleOnSale()">
                            <span class="rebuy-money sale">
                                <span class="sr-only">Sale price</span>
                                <span v-html="formatMoney(subtotal())"></span>
                            </span>
                            <span class="rebuy-money compare-at">
                                <span class="sr-only">Original price</span>
                                <span v-html="formatMoney(compareAtSubtotal())"></span>
                            </span>
                        </p>
                        <p class="rebuy-bundle__actions-price-value" v-if="!(bundleOnSale())">
                            <span class="rebuy-money">
                                <span class="sr-only">Price</span>
                                <span v-html="formatMoney(subtotal())"></span>
                            </span>
                        </p>
                    </div>

                    <div class="rebuy-bundle__actions-buttons">
                        <button
                            class="rebuy-button"
                            v-on:click="addSelectedProductsToCart()"
                            v-bind:disabled="isBundleIncomplete()"
                            type="button">
                                <span v-html="buttonWidgetLabel()"></span>
                        </button>
                    </div>
                </div>

                <div class="rebuy-bundle__items">

                    <div
                        v-for="(product, product_index) in products"
                        class="rebuy-product-block"
                        v-bind:class="[product.handle, 'product-id-' + product.id, cartHasProduct(product) ? 'cart-has-item' : '', productTagClasses(product), isInputProduct(product) ? 'is-input-product' : '' ,product.selected ? 'is-selected': '', variantAvailable(product.selected_variant) ? '' : 'rebuy-product-block--out-of-stock']"
                    >
                        <div class="rebuy-product-info">
                            <div class="rebuy-product-checkbox" v-if="!bundleRequiresAllItems()">
                                <label class="rebuy-checkbox-label">
                                    <input
                                        class="checkbox-input rebuy-checkbox"
                                        v-model="product.selected"
                                        type="checkbox" />
                                </label>
                            </div>
                            <strong class="rebuy-product-label" v-if="isInputProduct(product)" v-html="'This item:'"></strong>
                            <a
                                class="rebuy-product-title"
                                v-bind:href="learnMoreURL(product)"
                                v-on:click="learnMore(product, $event);"
                                v-html="product.title"
                                v-bind:class="[hasLearnMore() && !isInputProduct(product) ? 'clickable' : '']"
                                v-bind:alt="'View ' + product.title"
                                rel="nofollow"
                            ></a>
                            <div class="rebuy-variant-title" v-if="showVariantTitle(product)" v-html="product.selected_variant.title"></div>
                            <div class="rebuy-product-review" v-if="hasProductReviews(product)" aria-label="product star rating">
                                <span class="rebuy-star-rating">
                                    <span
                                        v-if="product.reviews.star_rating"
                                        class="rebuy-star-rating-value sr-only"
                                        v-html="product.reviews.star_rating + ' stars out of 5 stars'"
                                    >
                                    </span>
                                    <span class="rebuy-star-rating-background"></span>
                                    <span class="rebuy-star-rating-foreground" v-bind:style="{ width: productReviewRatingPercentage(product) }"></span>
                                </span>
                                <span class="rebuy-review-count" v-html="productReviewCount(product)"></span>
                            </div>

                            <div class="rebuy-product-price">
                                <div v-if="variantOnSale(product, product.selected_variant)">
                                    <span class="rebuy-money sale">
                                        <span class="sr-only">Sale price</span>
                                        <span v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
                                    </span>
                                    <span class="rebuy-money compare-at">
                                        <span class="sr-only">Original price</span>
                                        <span v-html="formatMoney(variantCompareAtPrice(product, product.selected_variant))"></span>
                                    </span>
                                </div>
                                <div v-if="!(variantOnSale(product, product.selected_variant))">
                                    <span class="rebuy-money">
                                        <span class="sr-only">Price</span>
                                        <span v-html="formatMoney(variantPrice(product, product.selected_variant))"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="rebuy-product-description" v-if="showProductDescription(product)" v-html="text(product.body_html)"></div>
                        </div>
                        <div class="rebuy-product-options" v-if="showVariantSelect(product)">
                            <select
                                :id="id + '-' + 'select' + '-' + product_index"
                                :class="{ hide : settings.view_options.variant_selector == 'buttons' }"
                                class="rebuy-select"
                                v-bind:aria-label="'variant of ' + product.title"
                                v-model="product.selected_variant_id"
                                v-on:change="selectVariant(product)">
                                <option
                                    v-for="variant in product.variants"
                                    class="rebuy-product-options__option"
                                    :class="{ 'rebuy-product-options__option--oos' : !variantAvailable(variant) }"
                                    v-bind:value="variant.id"
                                    :disabled="!variantAvailable(variant)"
                                    v-html="formatVariantOptionTitle(variant)">
                                </option>
                            </select>

                            <div
                                class="rebuy-product-options__button-swatches-container"
                                :class="{ 'rebuy-style__hidden-block' : config.view_options.variant_selector === 'select' }"
                                >
                                <div
                                    v-for="option in product.options"
                                    class="rebuy-product-options__button-swatches rebuy-size-swatches">
                                    <div v-for="(value, value_index) in filterOOSOptions(option, product)">
                                        <div v-if="displayColorSwatches(option)" class="rebuy-product-options__button-swatch rebuy-color-swatch">
                                            <input
                                                :name="id + '-color-' + product_index"
                                                :id="id + '-color-' + product_index + '-' + value + '-' + value_index"
                                                :checked="hasSwatchOptionSelected(product, value, value_index, 'color')"
                                                :value="value"
                                                type="radio"
                                                class="rebuy-color-input hide"
                                                v-on:change="selectVariantByOption(product, option.name, value)"
                                                :disabled="isDisabledOptionValue(product, option.name, value)"
                                            />

                                            <label
                                                :for="id + '-color-' + product_index + '-' + value + '-' + value_index"
                                                :style="{ backgroundColor: value }"
                                                :title="value"
                                                class="rebuy-color-label"
                                                :class="{ 'rebuy-product-options__button-swatch-label--disabled' : isDisabledOptionValue(product, option.name, value) }"
                                            >
                                            </label>
                                        </div>

                                        <div v-if="!displayColorSwatches(option)" class="rebuy-product-options__button-swatch rebuy-size-swatch">
                                            <input
                                                :name="id + '-' + option.name + '-' + product_index"
                                                :id="id + '-' + option.name + '-' + product_index + '-' + value"
                                                :checked="hasSwatchOptionSelected(product, value, value_index, option.name)"
                                                :value="value"
                                                type="radio"
                                                class="rebuy-size-input hide"
                                                v-on:change="selectVariantByOption(product, option.name, value)"
                                                :disabled="isDisabledOptionValue(product, option.name, value)"
                                            />

                                            <label
                                                :for="id + '-' + option.name + '-' + product_index + '-' + value"
                                                class="rebuy-size-label"
                                                :class="{ 'rebuy-product-options__button-swatch-label--disabled' : isDisabledOptionValue(product, option.name, value) }"
                                            >
                                                {{ value }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
</script>