{{ 'section-card-product.css' | asset_url | stylesheet_tag }}

<div class="section-card-product">
  <div class="page-width"></div>
</div>

{% schema %}
{
  "name": "Custome Product",
  "settings": [],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product List",
      "settings": [
        {
          "type": "product_list",
          "id": "product_item",
          "label": "Product Item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custome Product"
    }
  ]
}
{% endschema %}
