{{ 'section-card-product.css' | asset_url | stylesheet_tag }}

<div class="section-card-product">
  <div class="page-width">
    <div class="row">
        <div class="col-3">
            <div class="product_card">
                <div class="product_block">
                    <img src="" alt="" width="" height="">
                </div>
                <div class="product_content">
                    <h3></h3>
                    <div class="price">
                        <span></span>
                        <span></span>
                    </div>

                    <div class="act-button">
                        <button>Add to card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custome Product",
  "settings": [],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product List",
      "settings": [
        {
          "type": "product_list",
          "id": "product_item",
          "label": "Product Item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custome Product"
    }
  ]
}
{% endschema %}
