{{ 'section-discover-routine.css' | asset_url | stylesheet_tag }}

<div class="section-discover-routine">
  <div class="page-width">
    <div class="discover-routine-heading">
      {% if section.settings.heading != blank %}
        <h2>{{ section.settings.heading }}</h2>
      {% endif %}
    </div>
    <div class="discover-routine_products">
      <div class="row">
        {% for product in section.settings.product_lists %}
          <div class="col-2">
         {% render 'card-product', show_vendor: section.settings.show_vendor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Discover Routine",
  "settings": [
    {
      "type": "product_list",
      "id": "product_lists",
      "label": "Select Products"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],

  "presets": [
    {
      "name": "Discover Routine"
    }
  ]
}
{% endschema %}
