{{ 'section-video.css' | asset_url | stylesheet_tag }}

<div class="section-video">
  <div class="page-width">
    <div class="row">
        {% for block in metaobjects.video_box.values %}
          
        {% endfor %}
      <div class="col-4">
        <div class="video_main-item">

        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video Section",
  "settings": [],
  "presets": [
    {
      "name": "Video Section"
    }
  ]
}
{% endschema %}
