{{ 'section-video.css' | asset_url | stylesheet_tag }}

<div class="section-video">
  <div class="page-width">
    <div class="row">
      <div class="col-4"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video Section",
  "settings": [],
  "presets": [
    {
      "name": "Video Section"
    }
  ]
}
{% endschema %}
