{{ 'select-product.css' | asset_url | stylesheet_tag }}

<div class="press-list">
    <div class="page-width">
        <ul class="press-list_iteam">
            <li class="press-main-list">
                <div class="press-list_block">
                    <img src="{{  }}" width="" height="" loading="lazy" alt="">
                    <div class="press_logo">
                        <img src="{{  }}" width="" height="" loading="lazy" alt="">
                    </div>
                </div>
                <div class="press_content">
                    <span></span>
                    <span></span>
                    <h2></h2>
                    <a href="" ></a>
                </div>
            </li>
        </ul>
        </div>
</div>