{{ 'section-skincare-routine-step.css' | asset_url | stylesheet_tag }}

<div class="section-skincare-routine-step">
  <div class="page-width">
    <div class="row">
      <div class="col-3">
        <div class="tab-list">
          <ul>
            <h3>CLEANSE</h3>
            <li data-tab="content_Makeup remover & oil cleanser"><span>Stap 1</span></li>
            <li data-tab="Water Based cleanser"><span>Stap 2</span></li>
            <li data-tab="Exfoliator"><span>Stap 3</span></li>
            <h3>PREP</h3>
            <li data-tab="Toner"><span>Stap 4</span></li>
            <h3>NOURISH</h3>
            <li data-tab="Essence"><span>Stap 5</span></li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-main-content">
          <div class="step-tab-content" id="content_Makeup remover & oil cleanser">
            <div class="row">
              <div class="col-6">
                <div class="tab-text_details">
                  <h2>Makeup remover & oil cleanser</h2>
                  <p>
                    Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                    double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup,
                    sunscreen, and other oil-based impurities.
                  </p>
                  <ul>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="tab-text_media">
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="step-tab-content" id="Water Based cleanser">
            <div class="row">
              <div class="col-6">
                <div class="tab-text_details">
                  <h2>Water Based cleanser</h2>
                  <p>
                    Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                    double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup,
                    sunscreen, and other oil-based impurities.
                  </p>
                  <ul>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="tab-text_media">
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="step-tab-content" id="Exfoliator">
            <div class="row">
              <div class="col-6">
                <div class="tab-text_details">
                  <h2>Exfoliator</h2>
                  <p>
                    Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                    double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup,
                    sunscreen, and other oil-based impurities.
                  </p>
                  <ul>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="tab-text_media">
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-main-content">
          <div class="step-tab-content" id="Toner">
            <div class="row">
              <div class="col-6">
                <div class="tab-text_details">
                  <h2>Toner</h2>
                  <p>
                    Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                    double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup,
                    sunscreen, and other oil-based impurities.
                  </p>
                  <ul>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="tab-text_media">
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-main-content">
          <div class="step-tab-content" id="Essence">
            <div class="row">
              <div class="col-6">
                <div class="tab-text_details">
                  <h2>Essence</h2>
                  <p>
                    Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                    double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup,
                    sunscreen, and other oil-based impurities.
                  </p>
                  <ul>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                    <li>
                      <div class="svg-icon">
                        <img
                          src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                          width="43"
                          height="43"
                          alt=""
                          loading="lazy"
                        >
                      </div>
                      <div class="svg-text">
                        <h5>What it does</h5>
                        <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="tab-text_media">
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                  <img
                    src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                    width=""
                    height=""
                    alt=""
                    loading="lazy"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('.tab-list ul li').on('click', function() {
    $('.tab-list ul li').removeClass('active');
    $(this).addClass('active');
    $('.step-tab-content').hide();
    const tabId = $(this).data('tab');
    $('#' + tabId).show();

    {% comment %} $('html, body').animate({
      scrollTop: $('#' + tabId).offset().top - 140
    }, 600); {% endcomment %}
  });

  {% comment %} $('.desktop-primary-btn').on('click', function(e) {
    e.preventDefault();
    var activeTabLiItem = $('li.step-tab-item.active');
    var nextTabLiItem = activeTabLiItem.nextAll('li.step-tab-item').first();
    if (nextTabLiItem.length) {
      nextTabLiItem.trigger('click');
    }
  }); {% endcomment %}
  })
</script>
{% schema %}
{
  "name": "Skincare Routine Steps",
  "settings": [],
  "presets": [
    {
      "name": "Skincare Routine Steps"
    }
  ]
}
{% endschema %}
