{{ 'section-skincare-routine-step.css' | asset_url | stylesheet_tag }}

<div class="section-skincare-routine-step">
  <div class="page-width">
    <div class="row">
      <div class="col-3">
        <div class="tab-list">
          <ul>
            <h3>CLEANSE</h3>
            <li><span>Stap 1</span></li>
            <li><span>Stap 2</span></li>
            <li><span>Stap 3</span></li>
            <h3>PREP</h3>
            <li><span>Stap 4</span></li>
            <h3>NOURISH</h3>
            <li><span>Stap 5</span></li>
            <li><span>Stap 6</span></li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="tabs-content">
          <div class="row">
            <div class="col-6">
              <div class="tab-text_details">
                <h2>Makeup remover & oil cleanser</h2>
                <p>
                  Oil cleansers are the foundation of the Korean skincare routine and the essential first step in the
                  double cleanse. As you gently massage them into dry skin, they effectively dissolve makeup, sunscreen,
                  and other oil-based impurities.
                </p>
                <ul>
                  <li>
                    <div class="svg-icon">
                      <img
                        src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                        width="43"
                        height="43"
                        alt=""
                        loading="lazy"
                      >
                    </div>
                    <div class="svg-text">
                      <h5>What it does</h5>
                      <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                    </div>
                  </li>
                  <li>
                    <div class="svg-icon">
                      <img
                        src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                        width="43"
                        height="43"
                        alt=""
                        loading="lazy"
                      >
                    </div>
                    <div class="svg-text">
                      <h5>What it does</h5>
                      <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                    </div>
                  </li>
                  <li>
                    <div class="svg-icon">
                      <img
                        src="https://sokoglam.com/cdn/shop/files/Union.png?v=1749818556"
                        width="43"
                        height="43"
                        alt=""
                        loading="lazy"
                      >
                    </div>
                    <div class="svg-text">
                      <h5>What it does</h5>
                      <p>Breaks down oil-based debris such as makeup and sunscreen</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="tab-text_media">
                <img
                  src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                  width=""
                  height=""
                  alt=""
                  loading="lazy"
                >
                <img
                  src="https://sokoglam.com/cdn/shop/files/preview_images/31053707e1704cc383de22ee10f5f25c.thumbnail.0000000000_small.jpg?v=1750165233"
                  width=""
                  height=""
                  alt=""
                  loading="lazy"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Skincare Routine Steps",
  "settings": [],
  "presets": [
    {
      "name": "Skincare Routine Steps"
    }
  ]
}
{% endschema %}
