{{ 'section-skincare-routine-step.css' | asset_url | stylesheet_tag }}

<div class="section-skincare-routine-step">
  <div class="page-width">
    <div class="row">
      <div class="col-3">
        <div class="tab-list">
          <ul>
            <li><span>Stap 1</span></li>
            <li><span>Stap 2</span></li>
            <li><span>Stap 3</span></li>
            <li><span>Stap 4</span></li>
            <li><span>Stap 5</span></li>
            <li><span>Stap 6</span></li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="tabs-content">
          <h3>PREP</h3>
          <div class="row">
            <div class="col-6">
                <div class="tab-text_details"></div>
            </div>
            <div class="col-6">
                <div class="tab-text_media"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
