{{ 'section-slider-box.css' | asset_url | stylesheet_tag }}

<div class="section-slider-box">
  <div class="page-width">
    <div class="main-slider">
      <div class="slider-box">
        {%- if section.settings.product_list.products.size > 0 -%}
          {%- for product in section.settings.product_list.products limit: section.settings.products_to_show -%}
            <div class="slick-slide">
              {% render 'card-product',
                card_product: product,
                section_id: section.id,
                quick_add: section.settings.quick_add,
                show_secondary_image: section.settings.show_secondary_image
              %}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Best Seller",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Best Seller"
    }
  ]
}
{% endschema %}
