{{ 'section-slider-box.css' | asset_url | stylesheet_tag }}

<div class="section-slider-box">
  <div class="page-width">
    <div class="main-slider">
      <div class="slider-box">
        {% comment %} limit: section.settings.products_to_show  {% endcomment %}
        {%- if section.settings.collection.products.size > 0 -%}
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            <div class="slick-slide">
              {% render 'card-product' %}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Best Seller",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Seller"
    }
  ]
}
{% endschema %}
