.section-product-card {
    background-color: var(--light-secondary);
    padding: 80px 0;
}

.section-product-card .product-title h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--primary);
}

.section-product-card .row {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.section-product-card .row .col-3 {
    width: 100%;
    max-width: calc(25% - 10px);
}

.section-product-card .product-card{
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.section-product-card .product-link{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-product-card .product-link a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--primary);
    font-weight: 500;
}

.section-product-card .product-link a:hover{
    color: var(--black);
}
/* .section-product-card .product-card .custom-full-unstyled-link::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
} */