.section-skincare-routine-step{
    padding: 40px 0;
}

.section-skincare-routine-step .row{
    display: flex;
    gap: 20px;

}

.section-skincare-routine-step .row .col-3{
    max-width: calc(25% - 5px);
    width: 100%;
}

.section-skincare-routine-step .row .col-9{
    max-width: calc(75% - 15px);
    width: 100%;
}

.section-skincare-routine-step .step-tab-content .row .col-6{
    max-width: calc(50% - 10px);
    width: 100%;
}
/* .section-skincare-routine-step .tab-main-content:first-child{
    display: block;
}
.section-skincare-routine-step .tab-main-content .step-tab-content:first-child{
    display: block;
} */
.section-skincare-routine-step .step-tab-content{
    display: none;
}

.section-skincare-routine-step .step-tab-content.active {
  display: block;
}

@media(max-width: 991px){
    .section-skincare-routine-step .row .col-3{
        display: none;
    }
    .section-skincare-routine-step .row .col-9{
        max-width: 100%;
    }
    .section-skincare-routine-step .step-tab-content.active{
        display: block;
    }
    .section-skincare-routine-step .tab-main-content{
        display: none;
    }
    .section-skincare-routine-step .tab-list.step-tab-mobile h3.active ul li{
        display: block;
    }
}