.section-hero {
    position: relative;
    overflow: hidden;
}

.section-hero .hero_item {
    display: flex;
    align-items: center;
    justify-content: end;
}

.section-hero .hero-content {
    width: 100%;
    max-width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 191px 0;
    text-align: center;
    padding-left: 20px;
}

.section-hero .hero-content h2 {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--primary);
}

.section-hero .hero-content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--primary);
}

.section-hero .hero-content .button-main {
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 24px 50px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.section-hero .hero-content .button-main:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.section-hero .hero-content .button-text {
    display: block;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 1;
}

.section-hero .hero-content .button-text:hover {
    color: var(--black);
}

.section-hero .hero-block img {
    height: 100%;
    max-height: 600px;
    min-height: 600px;
    width: 100%;
    max-width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px);
    object-fit: cover;

}

@media (max-width: 1274px) {
    .section-hero .hero-content {
        padding: 179px 0 179px 20px;
    }
}

@media (max-width: 1052px) {
    .section-hero .hero-content {
        padding: 162px 0 162px 20px;
    }
}

@media (max-width: 991px) {
    .section-hero .hero_item {
        flex-direction: column;
    }

    .section-hero .hero-content {
        width: 100%;
        max-width: 100%;
        padding: 660px 0 40px 20px;
        text-align: start;
        align-items: start;
    }

    .section-hero .hero-block img {
        max-width: 100%;
    }

    .section-hero .hero-content .button-text {
        width: 100%;
        max-width: 230px;
        min-width: 230px;
        text-align: center;
    }

    .section-hero .hero-content .button-main {
        padding: 22px 40px;
    }
}

@media (max-width: 767px) {
    .section-hero .hero-content p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 580px) {
    .section-hero .hero-block img {
        max-height: 400px;
        min-height: 400px;
    }

    .section-hero .hero-content {
        padding: 450px 0 40px;
    }
}