.product-form__submit {
  display: none;
}

.section-card-product {
  padding: 60px 0;
}

.section-card-product .row{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.section-card-product .row .col-3{
  max-width: calc(25% - 8px);
  width: 100%;
}

.section-card-product .product_card .product_block img{
  width: 100%;
  height: auto;
}

.quantity_input{
  display: none;
}